.container{
    margin: 30px;
    padding-left:150px;
    padding-bottom: 100px;
    
}

.btn-bg{
    background-color:black;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
}
p{
    color:grey;
}
.bg1{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    padding: 70px;
}
.bg2{
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    padding-bottom: 60px;
    padding-left: 250px;
   background-position: bottom left ;
   margin: 0;
  
}
.card{
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.201);
    padding: 50px;
}
.pad{
    padding-bottom: 50px;
    margin: 10px;
}
hr{
    width: 15%;
    background-image: linear-gradient(to bottom ,rgba(0, 0, 0, 0.681) , rgb(189, 37, 37));
    margin: auto;
    height: 10px;
    border-radius: 5px;
}
.item{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.201);
    border: none;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
}
.cat1,.cat2{
    margin: 50px 0;
    
}